amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
debtcollector==1.4.0
falcon==1.0.0
funcsigs==1.0.2
gunicorn==19.5.0
kombu==3.0.35
netaddr==0.7.18
oslo.config==3.9.0
pbr==1.9.1
psycopg2==2.6.1
python-mimeparse==1.5.2
pytz==2016.4
six==1.10.0
SQLAlchemy==1.0.12
stevedore==1.13.0
virtualenv==12.0.7
wrapt==1.10.8
xunitparser==1.3.3
